main{
    display: flex;
}
.mainArea{
width: 70%;
background-position: center;
    background-repeat: no-repeat;    
    background-size: 100%;
    
}

.mainArea > div{
    margin-left: calc(50% - 14.2rem);
}

.mainArea button{
    margin-top: 75vh;
    width: 14.2rem;
    height: 3.2rem;

    
}

.mainArea .activeButton{
    border: none;
    background-color: #1C69D4;
    color: white;

    box-shadow: 0 4px 10px;
    -webkit-box-shadow: -4px -4px 10px rgba(0,0,0,0.25);
-moz-box-shadow: -4px -4px 10px rgba(0,0,0,0.25);
box-shadow: -4px -4px 10px rgba(0,0,0,0.25);

}

.mainArea button{
    border: none;
    background-color: white;

    box-shadow: 0 4px 10px;
    -webkit-box-shadow: -2px 0px 10px rgba(0,0,0,0.1);
-moz-box-shadow: -2px 0px 10px rgba(0,0,0,0.1);
box-shadow: -2px 0px 10px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 1024px) {
    main{

            display: block;
        }
        .mainArea{
            width: 100%;
            height: 60rem;
        
        }
        .mainArea button{
           
            margin-top: 50rem;
        }
    }
    @media only screen and (max-width: 480px) {
        .mainArea{
            width: 100%;
            height: 40rem;
        
        }
        .mainArea button{
       
            margin-top: 32rem;
        }
    }