.sidebar{
    width: 30%;
    box-shadow: 0 4px 10px;
    -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
height: 86vh;
overflow-y: scroll;
}


.sidebar h2{
    font-size: 3.6rem;
    margin-left: 3.4rem;
    font-weight: 300;
    margin-top: 4.1rem;
}
.sidebar h4{
    font-size: 2.4rem;
    margin-left: 3.4rem;
    color: #1C69D4;
    font-weight: 400;
}

.sidebar > button{
    background: #1C69D4;
    color: white;
    border: none;

    width:23.4rem;
    height: 5.2rem;
    margin-left: calc(50% - 23.4rem/2);
    margin-top: 6rem;

    font-size: 2rem;
    font-weight: 500;
    
}

.physicalSpecs{
    width: 90%;
    margin-left: 5%;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr 1fr;
    
}
.physicalSpecs > div{
    display: flex;
    
}
.physicalSpecs > div > div{
    background-repeat: no-repeat;
    height: 7.6rem;
    width: 9rem;
    margin: 0 1.2rem;
}
.colorSelectedBackground{
    box-shadow: 0 4px 10px;
    -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
width: 7.6rem;
height: 2.5rem;
background: #1C69D4;
padding-top: .8rem;

color: white;
font-size: 1.3rem;
text-align: center;
}
.colorSelected{
    height: 7.6rem;
    width: 7.6rem;
    margin: 0;
    background-repeat: no-repeat;
box-shadow: 0 4px 10px;
-webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}


.comfortSpecs{
    width: 90%;
    margin-left: 5%;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dots{
    margin: 0;
    margin-top: 6rem;
    text-align: center;
    padding-bottom: 2.8rem;
}

.dots > img{ 
    margin: 0 1rem 0 0;
}

.menuContainer{
    background: white;
    box-shadow: 0 4px 10px;
-webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    height: 95%;
    width: 95%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    overflow-y: scroll;
    
}
.menuContainer > img{
    float: right;
    margin: 2.9rem 2.9rem 0 0;
}
.menuContainer h1{
    font-weight: 300;
    font-size: 3.6rem;
    margin-top: 5.6rem;
    margin-left: 10%;
}
.menuContainerRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-left: 10%;
}
.menuContainerRow >div{
    background: white;
    box-shadow: 0 4px 10px;
-webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
width: 60.2rem;
height: 28.8rem;
margin-top: 5rem;

}
.menuContainerRow >div:nth-child(odd){
    margin-left: 2rem;
    margin-right: 10%;
}

.menuContainerHeadline{
    display: flex;
    justify-content: space-between;
    border-bottom: #DDD 1px solid;
}
.menuContainerHeadline > p{
    margin-left: 2.2rem;
    margin-top: 2.2rem;
    margin-bottom: .8rem;
    font-weight: 300;
    font-size: 2.4rem;
}
.menuContainerHeadline > p:nth-child(2){
    font-size: 1.8rem;
    margin-right: 2.2rem;
    margin-top: 2.4rem;
    margin-bottom: .8rem;
}
.menuContainerSpecs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 2.0rem;
    margin-top: 3.3rem;
}
.menuContainerSpecs p{
    font-size: 1.4rem;
    
}
.engineSelected{
    border: 2px solid #1C69D4;
}

.sum{
    margin-top: 8.8rem;
    padding-top: 5.2rem;
    border-top: 1px solid #DDD;
}

.sum > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    width: 85%;
   
    font-size: 1.6rem;
    margin-left: calc(15%/2);
}
.sum > div > p:nth-child(even){
    text-align: right;
}
.sum > div > p:nth-child(odd){
    text-align: left;
}
.sumPrice{
    border-top: 1px solid black;
}




@media only screen and (max-width: 1024px) {
        .sidebar{
            width: 100%;
            height: auto;
        overflow-y: none;
        }
    }

    @media only screen and (max-width: 480px) {
        .sidebar > div > p{
            font-size: 1.3rem;
        }
    }